/* linha que marca o início do footer */
.footerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.line {
  width: 45%;
  height: 3px;
  background-color: $dark;
}
.footerLogo h3 {
  color: $black;
}
/* principal seção do footer */
.footerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerWrapper h4 {
  padding: 5% 5% 5% 0;
  color: $black;
}
.footerWrapper a {
  color: $black;
}
.footerWrapper i {
  color: $black;
}
.footerWrapper input {
  color: $black;
}
.leftWrapper {
  width: 20%;
  margin: 0 auto;
}
.centerWrapper {
  width: 45%;
  margin: 0 auto;
}
.centerWrapper form {
  width: 80%;
  margin: 0 auto;
  border-bottom-style: solid;
  border-bottom-color: $dark;
}
.email {
  border-style: none;
  font-size: large;
  width: 80%;
}
.email:hover {
  background-color: $cream;
}
.email:focus {
  border-style: none;
  font-size: large;
  background-color: $cream;
}
.submit {
  background-color: $white;
  border-style: none;
  font-size: large;
}
.submit:hover {
  border-style: none;
  font-size: large;
  background-color: $cream;
}
.rightWrapper {
  width: 20%;
  margin: 0 auto;
}
.p-footer {
  width: 100%;
  font-size: x-small;
  display: flex;
  justify-content: center;
  color: $black;
  margin: 3% auto;
}

  @media (min-width: $bp-smartphones) {
      .footerWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .footerWrapper h4 {
        display: none;
      }
      .leftWrapper {
        width: 100%;
        margin: 5% auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .leftWrapper li {
        display: inline-block;
        margin: 0 5px;
      }
      .centerWrapper {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin: 10px 0;
      }
      .centerWrapper form {
        width: 80%;
        margin: 0 auto;
        border-bottom-style: solid;
        border-bottom-color: $dark;
      }
      .email {
        border-style: none;
        font-size: large;
        width: 70%;
      }
      .email:hover {
        background-color: $cream;
      }
      .email:focus {
        border-style: none;
        font-size: large;
        background-color: $cream;
      }
      .submit {
        background-color: $white;
        border-style: none;
        font-size: large;
      }
      .submit:hover {
        border-style: none;
        font-size: large;
        background-color: $cream;
      }
      .rightWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px;
      }
      .rightWrapper a {
        padding: 10px;
      }
      .p-footer {
        width: 100%;
        font-size: x-small;
        display: flex;
        justify-content: center;
        color: $black;
        margin: 3% auto;
      }
}
