/* criei variáveis para definir corretamente as cores propostas pelo desafio */
:root {
    --black: #000000;
    --dark: #272727;
    --cream: #F5E5D9;
    --pale: #F6F6F6;
    --white: #FFFFFF;
    --swiper-theme-color: #6a2efb !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--pale);
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
}
/* fonte para titulos */
/* font-family: 'Playfair Display', serif; */
header {
  background-color: var(--black);
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 3px;
  font-size: 1em;
}

i.fa-bars {
  display: none;
}

.nav-links {
  display: flex;
}

.nav-links a {
  font-size: 1em;
  padding-bottom: 0.2em;
  margin: 0 0.8em;
}

/* efeito hover nos links Menu */
.effect {
  position: relative;
  padding: 10px;
  display: inline-block;
  overflow: hidden;
}

.effect:before {
  content: "";
  position: absolute;
  transition: transform 0.8s ease;
  left: 0;
  width: 100%;
  height: 1px;
  /* gradiente roxo e rosa */
  background-image: linear-gradient(60deg, #6a2efb 0%, #c916ff 100%);
  bottom: 0;
  transform:  translateX(-100%);
  }

.effect:hover:before {
  transform:  translateX(0);
}

ul {
  list-style-type: none;
}

.right-icons i {
  padding: 0.5em;
}

/* main */

/* hero image */
.hero-image {
  background-image: url('../img/banksy.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 90vh;
}

/* distintivos */
.badges {
  margin: 50px auto;
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  box-sizing: border-box;
  justify-content: space-around;
}

/* imagens circulares */
.badge-image {
  box-sizing: border-box;
  margin: 0px auto;
  border-radius: 50%;
  padding: 10px;
}

/* classe que faz os elementos "preencherem" espaços vazios */
.basis-grow1 {
  flex-basis: 100px;
  flex-grow: 1;
}

/* sessão scroll */
.scroll-sec {
  width: 100%;
  height: 1100px;
}

.sticky {
  position: sticky;
  padding: 5%;
  background-color: var(--dark);
  width: 100%;
  height: 400px;
  top: 10%;
}

.cards {
  float: right;
  margin-right: 5%;
  display: flex;
  flex-flow: column-reverse wrap-reverse;
  justify-content: flex-end;
  align-items: start;
  max-width: 65%;
  max-height: 100%;
}

.card {
  background-color: var(--cream);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3%;
  max-width: 350px;
  align-items: center;
}

.card-title {
  font-weight: bold;
  font-size: 1.1em;
  padding-top: 5%;
  color: var(--black);
}

.card-text {
  font-family: 'Playfair Display', serif;
  padding: 5%;
  color: var(--black);
}

.margin-top {
  margin-top: 50%;
}

/* sessão produtos */
.produtos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: -webkit-linear-gradient(to right, var(--dark) 75%, var(--white) 75%);
  /* background gradiente para a Mozilla Firefox */
  background: linear-gradient(to right, var(--dark) 75%, var(--white) 75%);
  height: 500px;
  margin-top: 5%;
  margin-bottom: 50px;
}


.img-text-img {
  max-height: 400px;
  margin: 2%;
}

.text-call {
  max-width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
}

.text-call h2 {
  margin: 7% 0;
  font-size: xx-large;
  letter-spacing: 2px;
  font-family: 'Playfair Display', serif;
}
.small {
  font-size: small;
}

.text-gradient {
  background: -webkit-linear-gradient(60deg, #6a2efb 0%, #c916ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.button {
  font-size: 140%;
  font-weight: bolder;
  text-decoration: none;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
  margin-top: 15px;
  display: inline-block;
}

.swiper-container {
  display: flex;
  max-width: 400px;
  height: 300px;
}

/* instagram */

.insta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.insta h3 {
  color: var(--black);
  margin-top: 5%;
}

.insta-pics {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  box-sizing: border-box;
  justify-content: space-around;
}

.container {
  position: relative;
  margin: 3%;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  /* preto com transparência: */
  background-color: rgba(0, 0, 0, 0.83);
}
/* importante usar a propriedade visibility para q os bots de busca localizem o texto */
.container:hover .overlay{
  visibility: visible;
}

.text {
  color: var(--white);
  position: absolute;
  padding: 20% 5%;
  text-align: center;
}

/* linha que marca o início do footer */
.footerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.line {
  width: 45%;
  height: 3px;
  background-color: var(--dark);
}

.footerLogo h3 {
  color: var(--black);
}

/* principal seção do footer */
.footerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerWrapper h4 {
  padding: 5% 5% 5% 0;
  color: var(--black);
}

.footerWrapper a {
  color: var(--black);
}

.footerWrapper i {
  color: var(--black);
}

.footerWrapper input {
  color: var(--black);
}

.leftWrapper {
  width: 20%;
  margin: 0 auto;
}

.centerWrapper {
  width: 45%;
  margin: 0 auto;
}

.centerWrapper form {
  width: 80%;
  margin: 0 auto;
  border-bottom-style: solid;
  border-bottom-color: var(--dark);
}

.email {
  border-style: none;
  font-size: large;
  width: 80%;
}

.email:hover {
  background-color: var(--cream);
}

.email:focus {
  border-style: none;
  font-size: large;
  background-color: var(--cream);
}

.submit {
  background-color: var(--white);
  border-style: none;
  font-size: large;
}

.submit:hover {
  border-style: none;
  font-size: large;
  background-color: var(--cream);
}

.rightWrapper {
  width: 20%;
  margin: 0 auto;
}

.p-footer {
  width: 100%;
  font-size: x-small;
  display: flex;
  justify-content: center;
  color: var(--black);
  margin: 3% auto;
}

/* Tablets na Horizontal */
@media only screen and (max-width: 1096px){

  .scroll-sec {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .sticky {
    position: static; /*pessima pratica. ToDo: função js q remove classe sticky*/
    display: flex;
    justify-content: center;
    order: 1;
  }

  .text-call {
    max-width: 40%;
  }

  .cards {
    max-width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-right: 0;
    order: 2;
  }
  .margin-top {
    margin-top: 3%;
  }

  /* slider produtos */
  .produtos {
    background: var(--dark);
    height: auto;
  }
}


/* big landscape tablets, laptops, and desktops */
@media only screen and (max-width: 768px) {
  /* navbar */
  i.fa-bars {
  cursor: pointer;
  display: flex;
  }

  .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    top: 1000px;
    left: 0;
    transition: all 0.8s ease;
  }

  .nav-links.open {
    /* preto com transparência: */
    background-color: rgba(0, 0, 0, 0.91);
    font-size: 1.7em;
    padding: 2em;
    top: 10vh;
    display: block;
  }

  .nav-links li {
    margin: 10px auto;
  }

  .right-icons i {
    padding: 0em;
  }

  /* hero image continua a mesma da resolução desktop */

  /* imagens circulares */

  .img-text-img {
    width: 40%;
  }

  .img-text-img {
    display: none;
  }

  .text-call {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5% 10%;
  }
}

/* Smartphones */
@media screen and (max-width: 600px) {


  /* hero image */
  .hero-image {
    background-image: url('../img/banksyMobi.jpeg');
    background-size: cover;
    height: 90vh;
  }

  .swiper-container {
    max-width: 100%;
  }
  .footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footerWrapper h4 {
    display: none;
  }

  .leftWrapper {
    width: 100%;
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .leftWrapper li {
    display: inline-block;
    margin: 0 5px;
  }

  .centerWrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .centerWrapper form {
    width: 80%;
    margin: 0 auto;
    border-bottom-style: solid;
    border-bottom-color: var(--dark);
  }

  .email {
    border-style: none;
    font-size: large;
    width: 70%;
  }

  .email:hover {
    background-color: var(--cream);
  }

  .email:focus {
    border-style: none;
    font-size: large;
    background-color: var(--cream);
  }

  .submit {
    background-color: var(--white);
    border-style: none;
    font-size: large;
  }

  .submit:hover {
    border-style: none;
    font-size: large;
    background-color: var(--cream);
  }

  .rightWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .rightWrapper a {
    padding: 10px;
  }

  .p-footer {
    width: 100%;
    font-size: x-small;
    display: flex;
    justify-content: center;
    color: var(--black);
    margin: 3% auto;
  }

}

/* small devices */
@media screen and (max-width: 360px) {
  .swiper-container {
    max-width: 100%;
    height: 260px;
  }

}
