/* hero image */
.hero-image {
  background-image: url('../img/banksy.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 90vh;
}

@media (max-width: $bp-smartphones) {
  .hero-image {
    background-image: url('../img/banksyMobi.jpeg');
    background-size: cover;
    height: 90vh;
  }
}
