
/* efeito hover nos links */
.effect {
  position: relative;
  padding: 10px;
  display: inline-block;
  overflow: hidden;
}
.effect:before {
  content: "";
  position: absolute;
  transition: transform 0.8s ease;
  left: 0;
  width: 100%;
  height: 1px;
  /* gradiente roxo e rosa */
  background-image: linear-gradient(60deg, $purple 0%, $pink 100%);
  bottom: 0;
  transform:  translateX(-100%);
}

.effect:hover:before {
  transform:  translateX(0);
}
