
  $black: #000000;
  $preto-transparente: rgba(0, 0, 0, 0.83);
  $dark: #272727;
  $cream: #F5E5D9;
  $pale: #F6F6F6;
  $white: #FFFFFF;
  $purple: #6a2efb;
  $pink: #c916ff;

  //font
  $pt-sans: 'PT Sans', sans-serif;
  $playfair: 'Playfair Display', serif;

  // breackpoints media querys
  $bp-tablet-paisagem: 1096px;
  $bp-tablet: 768px;
  $bp-smartphones: 600px;
  $bp-small-devices: 360px;

// shashua
