
.swiper-container {
  display: flex;
  max-width: 400px;
  height: 300px;
}

/* linha que marca o início do footer */
.footerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.line {
  width: 45%;
  height: 3px;
  background-color: var(--dark);
}

.footerLogo h3 {
  color: var(--black);
}

/* principal seção do footer */
.footerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerWrapper h4 {
  padding: 5% 5% 5% 0;
  color: var(--black);
}

.footerWrapper a {
  color: var(--black);
}

.footerWrapper i {
  color: var(--black);
}

.footerWrapper input {
  color: var(--black);
}

.leftWrapper {
  width: 20%;
  margin: 0 auto;
}

.centerWrapper {
  width: 45%;
  margin: 0 auto;
}

.centerWrapper form {
  width: 80%;
  margin: 0 auto;
  border-bottom-style: solid;
  border-bottom-color: var(--dark);
}

.email {
  border-style: none;
  font-size: large;
  width: 80%;
}

.email:hover {
  background-color: var(--cream);
}

.email:focus {
  border-style: none;
  font-size: large;
  background-color: var(--cream);
}

.submit {
  background-color: var(--white);
  border-style: none;
  font-size: large;
}

.submit:hover {
  border-style: none;
  font-size: large;
  background-color: var(--cream);
}

.rightWrapper {
  width: 20%;
  margin: 0 auto;
}

.p-footer {
  width: 100%;
  font-size: x-small;
  display: flex;
  justify-content: center;
  color: var(--black);
  margin: 3% auto;
}

/* Tablets na Horizontal */
@media only screen and (max-width: 1096px){

  .scroll-sec {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .sticky {
    position: static; /*pessima pratica. ToDo: função js q remove classe sticky*/
    display: flex;
    justify-content: center;
    order: 1;
  }

  .text-call {
    max-width: 40%;
  }

  .cards {
    max-width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-right: 0;
    order: 2;
  }
  .margin-top {
    margin-top: 3%;
  }

  /* slider produtos */
  .produtos {
    background: var(--dark);
    height: auto;
  }
}


/* big landscape tablets, laptops, and desktops */
@media only screen and (max-width: 768px) {
  /* navbar */
  i.fa-bars {
  cursor: pointer;
  display: flex;
  }

  .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    top: 1000px;
    left: 0;
    transition: all 0.8s ease;
  }

  .nav-links.open {
    /* preto com transparência: */
    background-color: rgba(0, 0, 0, 0.91);
    font-size: 1.7em;
    padding: 2em;
    top: 10vh;
    display: block;
  }

  .nav-links li {
    margin: 10px auto;
  }

  .right-icons i {
    padding: 0em;
  }

  /* hero image continua a mesma da resolução desktop */

  /* imagens circulares */

  .img-text-img {
    width: 40%;
  }

  .img-text-img {
    display: none;
  }

  .text-call {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5% 10%;
  }
}

/* Smartphones */
@media screen and (max-width: 600px) {


  /* hero image */
  .hero-image {
    background-image: url('../img/banksyMobi.jpeg');
    background-size: cover;
    height: 90vh;
  }

  .swiper-container {
    max-width: 100%;
  }
  .footerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footerWrapper h4 {
    display: none;
  }

  .leftWrapper {
    width: 100%;
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .leftWrapper li {
    display: inline-block;
    margin: 0 5px;
  }

  .centerWrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .centerWrapper form {
    width: 80%;
    margin: 0 auto;
    border-bottom-style: solid;
    border-bottom-color: var(--dark);
  }

  .email {
    border-style: none;
    font-size: large;
    width: 70%;
  }

  .email:hover {
    background-color: var(--cream);
  }

  .email:focus {
    border-style: none;
    font-size: large;
    background-color: var(--cream);
  }

  .submit {
    background-color: var(--white);
    border-style: none;
    font-size: large;
  }

  .submit:hover {
    border-style: none;
    font-size: large;
    background-color: var(--cream);
  }

  .rightWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .rightWrapper a {
    padding: 10px;
  }

  .p-footer {
    width: 100%;
    font-size: x-small;
    display: flex;
    justify-content: center;
    color: var(--black);
    margin: 3% auto;
  }

}

/* small devices */
@media screen and (max-width: 360px) {
  .swiper-container {
    max-width: 100%;
    height: 260px;
  }

}
